<strong>Olá, {{ deliveryman }}</strong>
<p>Uma entrega atribuída a você foi cancelada pela distribuidora. Confira abaixo o motivo do cancelamento:</p>
<p>
  <strong>Descrição:</strong> {{ description }} <br />
</p>
