<strong>Olá, {{ deliveryman }}</strong>
<p>Há uma nova encomenda disponível para ser retirada. Confira os dados abaixo:</p>
<p>
  <strong>Endereço:</strong> {{ address }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
</p>
